################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.v2
*.suo
/AvClient/obj
/AvClient/bin/Debug/netcoreapp3.1
/AvService/obj
/AvService/bin/Debug/netcoreapp3.1
/AvService/AvService.csproj.user
/.vs/AVClient/v16/TestStore/0
/AvService.Domain.Test/bin/Debug/netcoreapp3.1
/AvService.Domain.Test/obj
/AvService.Domain/obj
/AvService.Domain/bin/Debug/netcoreapp3.1
